.video{
    position: relative;
    top: 500;
    height: 80vmin;
    background-color: white;
}

.video-title{
    padding: 8vmin;
    position: relative;
    text-align: center;
    height: 6vmin;
    font-size: 5vmin;
    background-color: white
}

.links{
    top: 50px;
    background-color: white;
    border-bottom-width: 30px;
}

.divider{
    align-items: center;
    padding: 20px;
}

.paragraph{
    padding: 8vmin;
    font-size: 30px;
    background-color: white;
    text-align: center;
}
