.video{
    display: flex;
    position: relative;
    top: 500;
    background-color: white;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.video-title{
    background-color: yellowgreen;
}

.links{

}