
.video{
    position: relative;
    top: 500;
    background-color:rgb(211, 247, 255)
}

.video-title{
    padding: 11vmin;
    position: relative;
    text-align: center;
    height: 8vmin;
    font-size: 8vmin;
    background-color: transparent;
}

.main{
    top: 50px;
    background-color:rgb(211, 247, 255);
    /* background: transparent; */
}

.divider{
    align-items: center;
    padding: 20px;
}

.paragraph{
    padding: 8vmin;
    font-size: 30px;
    text-align: center;
    background-color: black;

}
