.contributors-title{
    
        padding: 8vmin;
        position: relative;
        text-align: center;
        height: 8vmin;
        font-size: 8vmin;
        background-color:rgb(211, 247, 255)        ;
}