.audio{
    position: relative;
   background-color:rgb(211, 247, 255);
   z-index: 1;
   
}

.audio-title{
    padding: 10vmin;
    position: relative;
    text-align: center;
    height: 6vmin;
    justify-content: center;
    font-size: 8vmin;
    background-color:rgb(211, 247, 255)
    
}

.links{
    margin: auto;
    justify-content: center;
    position: relative;
    top: 20px;
    background-color:rgb(211, 247, 255)
}

.divider{
    padding: 20px;
}

.paragraph{
    padding: 8vmin;
    font-size: 30px;
    background-color: white;
    text-align: center;
    align-items: center; 
}

.quote{
    padding-top: 50px;
}

