.audio{
    position: relative;
   background-color:rgb(211, 247, 255)
   
}

.audio-title{
    padding: 8vmin;
    position: relative;
    text-align: center;
    height: 6vmin;
    justify-content: center;
    font-size: 5vmin;
    background-color:rgb(211, 247, 255)
    
}

.links{
    margin: auto;
    padding: 10px;
    justify-content: center;
    position: relative;
    top: 50px;
    background-color:rgb(211, 247, 255)
}

.divider{
    padding: 20px;
}

.paragraph{
    padding: 8vmin;
    font-size: 30px;
    background-color: white;
    text-align: center;
    align-items: center; 
    /* border-style: solid;
    border-color: #b8b8b8;  */
}

.quote{
    padding-top: 50px;
}

